{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Creating Web Application</title>
</head>
<body>
    <style>
        #code {
            background-color: bisque;
        }
    </style>
    <div class="container">
        <div class="col-xs-12">
            <h3> You may have many Questions in your mind</h3>
            <div class="col-xs-12">
                <strong> ( Q1 ) How to make my website Available on <i>Google Search</i>?</strong>
                <strong> ( Q2 ) How to get Ads on my Website?</strong>
                <strong> ( Q3 ) How to earn money from my website?</strong>
            </div>
            <h3>( Q1 ) How to make my website Available on <strong>Google Search</strong>?</h3>
            <div class="col-xs-12">
                <br />
                <div id="code">
                    <h5>Google Search View</h5>
                    <br />
                    <p><strong style="color:cornflowerblue; font-size:20px; ">How To Make My Website</strong></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;This is your first paragraph</b></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;This is your second paragraph</b></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;This is your third paragraph</b></p>
                </div>
                <br />
                <div id="code">
                    <h5>Google Search Manner in HTML</h5>
                    <br />
                    <p>&lt;head&gt;</p>
                    <p><strong  style="color:cornflowerblue; font-size:20px; ">
                &lt;title&gt;This my website&lt;/title&gt;
                </strong></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;&lt;meta name="google-translate-customization" content="This is your first paragraph" /&gt;</b></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;&lt;meta name="google-translate-customization" content="This is your second paragraph" /&gt;</b></p>
                    <p><b style="color:black; font-size:15px; ">&nbsp;&nbsp;&nbsp;&lt;meta name="google-translate-customization" content="This is your third paragraph" /&gt;</b></p>
                    <p>&lt;/head&gt;</p>
                </div>
            </div>
            <h3> ( Q2 ) How to get Ads on my Website?</h3>
            <div class="col-xs-12">
                <p>To get Google Ads you need to have a <strong>Paid account.</strong></p>
                <p>Now Your Website will be like this <strong>'https://subdomain.domain.com'</strong></p>
                <p><strong>But for Google Ads searches for well recoginised Website.</strong></p>
                <p><strong>Subdomain - LoginID of pythonanywhere.</strong></p>
                <p><strong>domain - pythonanywhere.</strong></p>
                <p><strong>Such as 'https://www.domain.com'</strong></p>
                <p>To have a paid account the least amount is <h1>5$</h1> in any hosting website. </p>
                <strong>After Getting Paid Website Goto Google Ads and sigin to the network.</strong>
                <p><a href="https://www.ads.google.com">Sign in to Google Ads</a></p>
            </div>
            <h3> ( Q3 ) How to earn money from my website?</h3>
            <div>
                <p><h3>without having paid account:</h3> <strong> You can sell your website in Free Lanser. </strong></p>
                <p><a href="https://www.freelanser.com">Sign in to Free Lanser</a></p>
                <p><h3>with having paid account:</h3> <strong> You can get money from Google Ads or Accept Donation from Visitors.</strong></p>
            </div>
        </div>
        <div class="col-xs-12">
            <p>Here are some Website links using which I learnt Programming.</p>
            <style>
                table img {
                    width:50px;
                    height:50px;
                    color:darkviolet;
                }
                table {
                    border:5px solid violet;
                }
                td {
                    border-left:5px solid violet;
                }
                tr {
                    border-bottom: 5px solid violet;
                }
            </style>
            <table>
                <tr>
                    <td>Programming Language</td>
                    <td>Website Links</td>
                    <td>Application</td>
                </tr>
                <tr>
                    <!-- Django -->
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/1200px-Django_logo.svg.png"/>Django</td>
                    <td><a href="https://docs.djangoproject.com/en/3.0/intro/tutorial01/" target="_blank"><img src="https://kevin-brown.com/images/django-logo.svg"/>Django basics</a></td>
                    <td> No Idea </td>
                </tr>
                <tr>
                    <!-- HTML -->
                    <td><img src="https://www.sololearn.com/Icons/Courses/1014.png"/>HTML</td>
                    <td><a href="https://www.w3schools.com/html/" target="_blank"><img src="https://webprogramacion.com/imgs_blog/160.jpg"/>W3 Schools</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id=com.sololearn" target="_blank"><img src="https://lh3.googleusercontent.com/zwwddqxgFlP14DlucvBV52RUMA-cV3vRvmjf-iWqxuVhYVmB-l8XN9NDirb0687DSw=w300"/>Sololearn</a></td>
                </tr>
                <tr>
                    <!-- JavaScript -->
                    <td><img src="https://cdn4.iconfinder.com/data/icons/logos-3/504/javascript-512.png"/>JavaScript</td>
                    <td><a href="https://www.w3schools.com/Js/"  target="_blank"><img src="http://www.userlogos.org/files/logos/Rog/w3schools.com_03.png" target="_blank"/>W3 Schools</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id=com.sololearn" target="_blank"><img src="https://cdn.apkmonk.com/logos/com.sololearn.javascript_150x150.png"/>Sololearn</a></td>
                </tr>
                <tr>
                    <!-- CSS -->
                    <td><img src="http://vignette1.wikia.nocookie.net/logopedia/images/8/83/CSS_logo.svg/revision/latest/scale-to-width-down/250?cb=20141116040129"/>CSS</td>
                    <td><a href="https://www.w3schools.com/css/" target="_blank"><img src="https://www.w3schools.com/css/w3css.gif"/>W3 Schools</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id=com.sololearn" target="_blank"><img src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/9e/d1/04/9ed10412-92b7-f670-3b9d-ccc0c6bad9da/source/512x512bb.jpg"/>Sololearn</a></td>
                </tr>
                <tr>
                    <!-- jQuery -->
                    <td><img src="https://www.sololearn.com/Icons/Courses/1082.png"/>jQuery</td>
                    <td><a href="https://www.w3schools.com/jQuery/" target="_blank"><img src="http://www.userlogos.org/files/logos/Rog/w3schools.com_03.png"/>W3 Schools</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id=com.sololearn" target="_blank"><img src="https://www.thedailystar.net/sites/default/files/feature/images/sololearn.jpg"/>Sololearn</a></td>
                </tr>
                <tr>
                    <!--Bootstrap-->
                    <td><img src="https://i1.wp.com/jfdi.info/wp-content/uploads/bootstrap.png?ssl=1"/>Bootstrap</td>
                    <td><a href="https://www.w3schools.com/bootstrap/" target="_blank"><img src="http://www.userlogos.org/files/logos/Rog/w3schools.com_03.png"/>W3 Schools</a></td>
                    <td><a href="https://play.google.com/store/apps/details?id=com.sololearn" target="_blank"><img src="https://www.thedailystar.net/sites/default/files/feature/images/sololearn.jpg"/>Sololearn</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

{% endblock %}